.diaryItem {
  width: 25rem;
  height: 18rem;
  background-color: #CCCCCC;
  padding: 10px;
  justify-content: center;
  margin-bottom: 1rem;
}

.diaryItem .title {
  display: block;
  justify-content: left;
  margin-left: 1rem;
  border-bottom: 1px solid #666666;
}

.diaryItem .title p {
  margin: 0.2rem 0;
  font-size: 1rem;
  text-align: left;
}

.diaryItem .date {
  color: #666666
}

.diaryItem .description {
  min-height: 10rem;
  max-height: 15rem;
  text-align: left;
  overflow-y: auto;
  margin-left: 10px;
}

.diaryItem .description textarea {
  min-width: 18rem;
  max-width: 18rem;
  min-height: 4rem;
  max-height: 9rem;
  overflow-y: auto;
}


.diaryItem .Btns {
  display: flex;
  
}

.diaryItem .Btns Button {
  margin-right: 10px;
}